{% extends 'blog/base.html' %}

{% block content %}
    <article class='post'>
        <aside class="actions">
            {% if user.is_authenticated %}
                <a href="{% url 'post_edit' pk=post.pk %}">
                    <button class="btn-default">
                        {% include './icons/pencil-fill.svg' %}
                    </button>
                </a>
                <a href="{% url 'post_remove' pk=post.pk %}">
                    <button class="btn-default">Remove</button>
                </a>
            {% endif %}
        </aside>
        {% if post.published_date %}
            <div class='date'>
                {{ post.published_date }}
            </div>
        {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}">
                <button class="btn-default">Publish</button>
            </a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <a href="{% url 'add_comment_to_post' pk=post.pk %}">
            <button class="btn-default">Add comment</button>
        </a>
        <hr>
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a href="{% url 'comment_remove' pk=comment.pk %}">
                            <button class="btn-default">Remove</button>
                        </a>
                        <a href="{% url 'comment_approve' pk=comment.pk %}">
                            <button class="btn-default">Approve</button>
                        </a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            {% endif %}
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
    </article>
{% endblock %}
