@import url('https://fonts.googleapis.com/css?family=Monoton|Ubuntu:400,500|Didact+Gothic|Limelight|Muli');

* {
	box-sizing: border-box;
}

body {
    margin: 0;
}

.page-header {
    background-color: #607E8D;
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 2rem 2rem 2rem 10rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Ubuntu', cursive;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 4rem;
    text-decoration: none;
}

.content-container {
    margin: 2em 10em;
}

.date {
    color: #828282;
}

.comment-count {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 2rem;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a {
    color: #5F6368;
}

.post h1 a:hover {
    color: rgba(29, 78, 216, 1);
}

.post h2 {
    color: #5F6368;
}

.post > .date,
.post > .actions {
    float: right;
}

.post > p {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #5F6368;
}

.btn-default,
.btn-default:visited {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(29, 78, 216, 1);
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-color: rgba(59, 130, 246, 1);
    border-radius: 0.25rem;
}

.btn-default:hover {
    background-color: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
    border-color: transparent;
}

.comment {
    margin: 2rem 2rem 2rem 4rem;
}
